.textarea-container {
    position: relative;
    width: 800px;

    .prompt-textarea {
        width: 100%;
        min-height: 40px;
        overflow-y: hidden;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        font-size: 18px;
        resize: none;

        &:focus-visible {
            outline: none;
            border: 1px solid gray !important;
        }
    }

    .svg-container {
        position: absolute;
        right: 10px;
        bottom: 12px;
        display: flex;
        gap: 10px;

        .loading-animation-box {
            width: 18px;
            height: 18px;
        }

        svg {
            color: gray;
            cursor: not-allowed;
            transition: 0.3s all;
        }

        .menu-box {
            position: relative;

            &:hover .dropdown-content {
                visibility: visible;
                opacity: 1;
            }

            svg {
                cursor: pointer !important;
            }

            .dropdown-content {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                transition:
                    opacity 0.5s,
                    visibility 0.5s;
                bottom: calc(100% + 12px);

                & div {
                    cursor: pointer;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    display: flex;
                    align-items: center;
                    color: #333333;
                    text-align: center;

                    svg {
                        margin-right: 10px;
                        color: #333333;

                        &:hover {
                            transform: none;
                        }
                    }

                    &:hover {
                        color: black;
                    }
                }
            }
        }

        &.svg-container-deepen {
            svg {
                color: black;
                cursor: pointer;

                &:hover {
                    transform: scale(130%);
                }
            }
        }
    }
}
